<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <%- include ('./components/head') %>
  </head>
  <nav>
    <%- include ('./components/nav') %>
  </nav>
  <header>
    <%- include ('./components/header') %>
  </header>
  <body>

    <section class="detalhes">
    <section class="items">
      <div class="item2">
        <img src="<%= items.imagem %>" alt="item" />
      </div>
      <div class="itemDetalhes">
        <div class="nomeItem">
        <h2>Nome:</h2> <h2 class="item1"><%= items.nome %></h2>
      </div>
        <br>
        <br>
        <div class="nomeItem">
        <h2>Tamanho:</h2> <h2 class="item1"><%= items.tamanho %></h2>
      </div>
        <br>
        <br>
        <div class="nomeItem">
        <h2>Descrição:</h2> <h2 class="item1"><%= items.descricao %></h2>
      </div>
        <br>
        <a id="editar" href="getById/<%= items.id%>/put">Editar</a>
        <a id="deletar" href="getById/<%= items.id%>/delete">Deletar</a>
      </div>
    </section>
    </section>
    <% if(itemPut != null) {%>
      <%- include ('./components/modelPut') %>
    <% } %>
    <% if(itemDel != null) {%>
      <%- include ('./components/modelDel') %>
    <% } %>
    <footer>
        <%- include ('./components/footer') %>
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/JS/scriptSlide.js"></script>
    <script src="/JS/script.js"></script>
    <script src="/JS/scriptValidacaoAtualizar.js"></script>
  </body>
</html>